*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.2;
    height: 100vh; 
    overflow: hidden;
}

#youin{
    display: none;
  }

.container{
    width: 100%;
    height: 100%;
    /* Smooth Scroll Properties */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1; /* Always on top the rest of the content*/
    display: flex;
    width: 100%;
    height: 7vh;
    background: rgba(0,0,0,0.7);
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 0.7rem;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover{
    color: skyblue;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1{
    font-size: 4rem;
}

section p{
    font-size: 1.5rem;
}

.log{
    height: 100px;
    background-color: red;
}

section#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#about h1{
    margin-bottom: 45vh;
}

section#login{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#contact h1{
    margin-bottom: 45vh;
}

/* lOGIN CSS */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


/* login css end */
#info{
    margin-top: 10vh;
}

.noAccount{
    margin-top:5vh;
}
